<h1 class="text-center mb-3">{{title}}</h1>

<div class="my-4">
    <h1>CRUD</h1>
    <span>Brandon Reyes Minero</span>
    <span>A01335537</span>
    <h4>CRUD de estudiantes</h4>
</div>

<form class="mb4" action="/" method="POST">
    <div class="form-grout my-4">
        <label for="name">Nombre</label>
        <input type="text" name="name" class="form-control" required>
    </div>

    <div class="form-grout my-4">
        <label for="name">Matricula</label>
        <input type="text" name="matricula" class="form-control" required>
    </div>

    <div class="form-grout my-4">
        <label for="name">Carrera</label>
        <input type="text" name="carrera" class="form-control" required>
    </div>

    <input type="submit" value="Add student" class="btn btn-primary btn-block my-4">
</form>

<h4>Students</h4>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nombre</th>
      <th scope="col">Matricula</th>
      <th scope="col">Carrera</th>
      <th scope="col" style="text-align: center;">Acciones</th>
    </tr>
  </thead>
  <tbody>
      {{#each data}}
    <tr>
      <th scope="row">{{this.id}}</th>
      <td>{{this.name}}</td>
      <td>{{this.matricula}}</td>
      <td>{{this.carrera}}</td>
      <td style="text-align: center;">
        <a href="/eliminar/{{this.id}}" class="btn btn-danger" style="width: 20%;">Borrar</a>
        <a href="/editar/{{this.id}}" class="btn btn-secondary" style="width: 20%;">Editar</a>
        <a href="/info/{{this.id}}" class="btn btn-info" style="width: 20%;">Info</a>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>

<a href="/api/students" class="btn btn-light mt-4">Visitar API</a>
